body {
  font-family: Arial, sans-serif;
  background: #322828;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  color: #ff4500;
}

.ball-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.ball {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 0 10px;
  font-weight: bold;
  transition: transform 0.5s;
}

.powerball {
  background-color: #ff4500;
  color: #fff;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #ff4500;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e63e00;
}
